<div class="payment-success">
    <div class="padding">
        <div class="d-flex justify-content-between">
            <div>
                <img class="pb-5 me-4" src="../../../assets/tick-green.png" alt="">
                <h6 class="d-inline-block service-success-text">Your service Booked successfully</h6>
            </div>
            <div>
                <button (click)="keepBrowsing()" class="keep-browsing-btn">Keep Browsing</button>
            </div>
        </div>
        <div class="ps-5 ms-5">
            <a href="" class="other-service">Avail quality service for other Devices</a>
        </div>
    </div>
</div>