.payment-success{
    
    background-color: #FAFAFA;

}
.payment-success>.padding{
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.service-success-text{
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight:600 ;
    font-size: 32px;
    width: 80%;
   
   
}
.keep-browsing-btn{
    background-color: #3C2B75;
    border-radius: 4px;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    padding: 1rem 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight:600 ;
    font-size: 16px;
    border: none;
}
.other-service{
    letter-spacing: 0.32px;
color: #3C2B75;
font-family: 'Poppins', sans-serif;
    font-weight:500 ;
    font-size: 16px;
}