.list-style{
    text-decoration: none;
    color: #070A28;
opacity: 0.5;
font-weight: 400;
font-size: 16px;
font-family: 'Poppins', sans-serif;
}
.tvs-size{
    width: 100px;
    height: 30px;
}


.footer-heading{
    color: #0A043C;
    font-family: 'Poppins', sans-serif;
    font-weight:600 ;

    font-size:18px ;
}
.feedback{
    color: #0A043C;
    font-family: 'Poppins', sans-serif;
    font-weight:500 ;

    font-size:16px ;
    cursor: pointer;
}
.copyright{
    background-color: #3C2B75;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight:400 ;

    font-size:16px ;
}