<div class="addresscomponent">
    <div class="padding">
        <div class="mb-4">
            <h3 class="address-heading">Your Service Address</h3>
        </div>
        
        <div class="address-cont d-flex justify-content-between p-4 mb-4">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label user-name" for="flexRadioDefault2">
                  {{address.firstname}} {{address.lastname}}
                </label>
                <label class="form-check-label d-block addresslist" for="flexRadioDefault2">
                    {{address.address1}},{{address.landmark}},{{address.district}},{{address.state}},{{address.pincode}},-{{address.mobilenumber}}
                  </label>

            </div>
            <div>
                <a class="edit-address" href="">Edit Address</a>
            </div>
            
        </div>
        <div>
            <a class="add-newaddress">+ Add New Address</a>
        </div>
    </div>

</div>

<div class="cart-list">
    <div class="padding">
        <div class="mb-2">
            <h3 class="cart-list-heading">Your Cart</h3>
        </div>
        <div class="mb-3">
            <a class="clear-cart" href="">Clear this Cart</a>
        </div>
        <div class="d-flex mb-2 justify-content-between">
            <div>
                <h6 class="cart-title">Devices</h6>
            </div>
            <div>
                <h6 class="cart-title">Price</h6>
            </div>
        </div>
        <div class="mb-4">
            <h3 class="device-list">Repair Device <span>({{cartlength}} Devices)</span></h3>
        </div>
        
        <div class="mb-5" *ngFor="let cartlist of cartlist ">
            <div class="d-flex justify-content-between">
                <div>
                    <img class="pb-5" [src]="cartlist.deviceimage" alt="">
                    <h3 class="item-details ms-4  d-inline-block">
                        {{cartlist.brand}} {{cartlist.device1}} | {{cartlist.type}} | {{cartlist.ton}}
                        
                    </h3>
                    
                </div>
                <div class="item-amount">
                    {{cartlist.amount | currency:'INR'}}
                    
                </div>
            </div>
            <div class="service-date-slot-grid mb-5">
                <div >
                    <h3 class="date-slot mb-3"><i></i>Select Date of service</h3>
                    <input type="date" class="date" id="birthday" name="birthday">
                </div>
                <div>
                    <h3 class="date-slot mb-3"><i></i>Available Slots</h3>
                    <div class="time-grid">
                        <button>
                            10-11AM
                            
                        </button>
                        <button>
                            11-12PM
                        </button>
                        <button>
                            12-1PM
                        </button>
                        <button>
                            1-2PM
                        </button>
                        <button>
                            2-3PM
                        </button>
                        <button>
                            4-5PM
                        </button>
                        <button>
                            5-6PM
                        </button>
                    </div>
                </div>
            </div>
        </div>



        
        
        <div class="text-center mb-5">
            <h4 class="add-another-device">+ Add Another Device</h4>
        </div>
        <div class="total-amount d-flex justify-content-between">
            <div>
                <h4 class="amount">Total Amount<span class="ms-3">Inclusive of 18% GST</span></h4>
            </div>
            <div class="amount">
                {{totalamount | currency:'INR'}}
            </div>
        </div>
        <div class="text-end mt-4">
            <button (click)="checkOut()" class="checkout-final px-5 py-4">Checkout Services</button>
        </div>
    </div>
</div>