<div class="service-details">
    <div class="padding">
        <div>
            <h6>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item"><a href="#">Profile</a></li>
                      <li class="breadcrumb-item"><a href="#">Services</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Details</li>
                    </ol>
                  </nav>
            </h6>
        </div>
        <div class="mt-5">
            <h4 class="service-number">Service Request Number : 0293884757478837</h4>
        </div>
        <div class="mt-3">
            <span class="in-progress px-3 py-2 me-3">IN-PROGRESS</span>
            <span class="otp px-3 py-2">OTP : 2345</span>
        </div>
        <div class="service-details-grid mt-5">
            <div>
                <div>
                    <img class="pb-5" style="width: 60px;" src="../../../assets/aircooler.png" alt="">
                    <h3 class="d-inline-block w-50 ms-4 item-details-types ">
                        Whirlpool Air Conditioner | Split AC | 1.5 Ton
                    </h3>
                </div>
                <div class="d-flex mt-4 justify-content-between">
                    <div>
                        REPAIR DEVICE
                    </div>
                    <div>
                        ₹ 399.00
                    </div>
                </div>
                <div class="row d-flex  mt-4 ">
                    <div class="col-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                
                                <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div> <span class="vertical-timeline-element-icon bounce-in"> <i class="bi-circle-fill"></i> </span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <h4 class="service-booked-text">Service Booked</h4>
                                               <h6 class="service-booked-date">SEP 16, THURSDAY</h6>
                                               <div class="booked-slot p-2">
                                                    <div class="p-2">
                                                        <h6 class="booked-slot-text mb-3">BOOKED SLOT</h6>
                                                        <h6 class="booked-slot-value mb-4"><i class="bi-calendar-fill me-2"></i>Sep 17, Friday | 12pm - 01pm</h6>
                                                        <div class="address">
                                                            <h6 class="booked-slot-text mb-2">SERVICE ADDRESS</h6>
                                                            <h6 class="name-mobile mb-2">Harishkumar | Mobile: 9657524515</h6>
                                                            <p class="address-text">No44F, Amruth Enclave, Sri Sai Nagar, Malai street, Ponmar, Chennai-600127, Crusher Road, Ponmar, Perumbakkam, Tamil Nadu 603103, India</p>
                                                        </div>
                                                    </div>
                                               </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div> <span class="vertical-timeline-element-icon bounce-in"> <i class="bi-circle-fill"> </i> </span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <h4 class="service-booked-text">Serviceman Visited</h4>
                                                <h6 class="service-booked-date">SEP 17, THURSDAY</h6>
                                                <div class="serviceman w-100">
                                                    <div class="p-2">
                                                        <div class="serviceman-grid">
                                                            <div>
                                                               <div class="d-flex mb-3">
                                                                   <h6 class="border px-3 py-2 me-2"><i class="bi-shield-fill-check me-2"></i>VACCINATED</h6>
                                                                   <h6 class="border px-3 py-2"><i class="bi-thermometer me-2"></i>37°C</h6>
                                                               </div>
                                                               <div>
                                                                   <i class="bi-person-fill"></i>
                                                                   <h6 class="d-inline-block serviceman-name ms-2">Sandeep Singh</h6>
                                                                   <h6 class="ms-4 ps-1 serviceman-rollname">Associate AC Mechanic</h6>
                                                               </div>
                                                               <div >
                                                                    <i class="bi-phone-fill"></i>
                                                                    <h6 class="d-inline-block phone-number ms-2">+91 9524626658</h6>
                                                               </div>
                                                               <div class="mt-3">
                                                                   <h6 class="lasttime-check">Last Temp Check on Oct,28</h6>
                                                               </div>
                                                            </div>
                                                            <div>
                                                                <div class="d-flex mb-3">
                                                                    <h6 class="border px-3 py-2 me-2"><i class="bi-shield-fill-check me-2"></i>VACCINATED</h6>
                                                                    <h6 class="border px-3 py-2"><i class="bi-thermometer me-2"></i>37°C</h6>
                                                                </div>
                                                                <div>
                                                                    <i class="bi-person-fill"></i>
                                                                    <h6 class="d-inline-block serviceman-name ms-2">Prem Kumar</h6>
                                                                    <h6 class="ms-4 ps-1 serviceman-rollname">Associate AC Mechanic</h6>
                                                                </div>
                                                                <div >
                                                                     <i class="bi-phone-fill"></i>
                                                                     <h6 class="d-inline-block phone-number ms-2">+91 9524626658</h6>
                                                                </div>
                                                                <div class="mt-3">
                                                                    <h6 class="lasttime-check">Last Temp Check on Oct,28</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div> <span class="vertical-timeline-element-icon bounce-in"> <i class="bi-circle-fill"> </i> </span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <h4 class="service-booked-text">Part Request Raised</h4>
                                                <h6 class="service-booked-date">SEP 17, THURSDAY</h6>
                                                <div class="p-2">
                                                    <div class="part-request-grid">
                                                        <div>
                                                            <h6 class="part-item">Charging Volve | 5mm | Copper</h6>
                                                        </div>
                                                        <div>
                                                            <h6 class="part-qty text-end">2 Qty</h6>
                                                        </div>
                                                        <div>
                                                            <h6 class="part-amount text-end">₹ 250.00</h6>
                                                        </div>
                                                    </div>
                                                    <hr class="p-0 m-0">
                                                    <div class="part-request-grid mt-2">
                                                        <div>
                                                            <h6 class="part-item">Charging Volve | 5mm | Copper</h6>
                                                        </div>
                                                        <div>
                                                            <h6 class="part-qty text-end">2 Qty</h6>
                                                        </div>
                                                        <div>
                                                            <h6 class="part-amount text-end">₹ 250.00</h6>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <h6 class="approved-text">APPROVED ON <span>SEP 18, SATURDAY</span></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-item vertical-timeline-element">
                                        <div> <span class="vertical-timeline-element-icon bounce-in"> <i class="bi-circle-fill"> </i> </span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <h4 class="service-booked-text">Payment</h4>
                                                <div class="padding">
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <h6 class="part-item">Repair charges</h6>
                                                        </div>
                                                        <div>
                                                            <h6  class="part-amount">₹ 399.00</h6>
                                                        </div>
                                                    </div>
                                                    <hr class="p-0 m-0">
                                                    <div class="d-flex mt-2 justify-content-between">
                                                        <div>
                                                            <h6 class="part-item">Parts charges</h6>
                                                        </div>
                                                        <div>
                                                            <h6  class="part-amount">₹ 285.00</h6>
                                                        </div>
                                                    </div>
                                                    <hr class="p-0 m-0">
                                                    <div class="d-flex mt-2 justify-content-between">
                                                        <div>
                                                            <h6 class="part-item">GST 18%</h6>
                                                        </div>
                                                        <div>
                                                            <h6  class="part-amount">₹ 123.12</h6>
                                                        </div>
                                                    </div>
                                                    <hr class="p-0 m-0">
                                                    <div class="d-flex mt-2 justify-content-between">
                                                        <div>
                                                            <h6 class="part-amount1">GST 18%</h6>
                                                        </div>
                                                        <div>
                                                            <h6  class="part-amount1">₹ 123.12</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text-end mt-3">
                                                    <button class="pay-btn px-5 py-3" >PAY ₹ 807.12</button>
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    
                                    
                                  
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div>
                <div class="mb-4">
                    <h6 class="service-details-title mb-3">SERVICE DETAILS</h6>
                    <div class="right-subgrid ">
                        <div class="details-key">
                            Request Raised on
                        </div>
                        <div class="details-value">
                            : Sep 16, 2021
                        </div>
                        <div class="details-key">
                            Request No
                        </div>
                        <div>
                            : 2021091289
                        </div>
                        <div class="details-key">
                            Generated OTP
                        </div>
                        <div>
                            : 8765
                        </div>
                    </div>
                </div>
                <div >
                    <h6 class="service-details-title mb-3">DEVICE DETAILS</h6>
                    <div class="right-subgrid ">
                        <div class="details-key">
                            Device
                        </div>
                        <div class="details-value">
                            : Air Conditioner
                        </div>
                        <div class="details-key">
                            Brand
                        </div>
                        <div>
                            : Whirlpool
                        </div>
                        <div class="details-key">
                            Type
                        </div>
                        <div>
                            : Split AC
                        </div>
                        <div class="details-key">
                            Tonnage
                        </div>
                        <div>
                            : Higher than 1.5
                        </div>
                        <div class="details-key">
                            Device Serial No
                        </div>
                        <div>
                            : 20121452232
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>